<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Order Confirmation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1><a href="#">Portal ABA</a></h1>
    <div>
    <table>  
          <td valign="middle" class="hero bg_white" style="padding: 3em 0 2em 0;">
            <img src="imagens/email.png" alt="" style="width: 300px; max-width: 600px; height: auto; margin: auto; display: block;">
          </td>
	      </tr><!-- end tr -->
				<tr>
	          <td valign="middle" class="hero bg_white" style="padding: 2em 0 4em 0;">
					            <table>
					            	<tr>
					            		<td>
					            			
					            		</td>
					            	</tr>
					            </table>
	          </td>
	      </tr>
      </table>
    </div>
  </center>
</body>
</html>